<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266456570605-2j0gb4udiirs2bj7rpv9nuqfged8m86r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266456570605-2j0gb4udiirs2bj7rpv9nuqfged8m86r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>266456570605-v9gjdi531298de9clios673pd1a6meee.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMGtu8vx0FgwB-GXRzjdvpXm4sgPunTro</string>
	<key>GCM_SENDER_ID</key>
	<string>266456570605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.singleSignInFirestore</string>
	<key>PROJECT_ID</key>
	<string>singlesigninfirestore</string>
	<key>STORAGE_BUCKET</key>
	<string>singlesigninfirestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266456570605:ios:b6f772ea67816230344ae4</string>
	<key>DATABASE_URL</key>
	<string>https://singlesigninfirestore.firebaseio.com</string>
</dict>
</plist>